# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production Build outputs
dist/
build/

# Operating System & IDE
.DS_Store
*.pem
*.log
.vscode/
.idea/

# Netlify & Deployment artifacts
.netlify/
.vercel/

# Environment variables & Local secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env*
!.env.example
